ul li {
  display:inline;
  list-style-type: none;
  margin: 0;
}

ul{
  background-color: #111;
  padding: 0;
  text-align: left;
}

ul li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none; 
  padding: 20px;
  display: inline-block;
}

